p
{
  color: red;
  font-family: "Brush Script MT", cursive;
  font-size: 30px;
  background-color: white;
  background-blend-mode: lighten;
  
}

h
{
  color: red;
  font-family: "Brush Script MT", cursive;
  font-size: 10vw;
  background-color: white;
  background-blend-mode: lighten;
}

body
{
  background-image: url(post_giphy_malone.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a
{
  color: red;
  font-family: "Brush Script MT", cursive;
  font-size: 30px;
  background-color: white;
  background-blend-mode: lighten;
}

a:hover
{
  color: yellow;
}
